In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(r'C:\Users\Ahsan\bdsf\USA_Housing.csv')
df.head(10)
df.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In statistical Analyasis we can calculate the average, median, correlations, variance of the real valued data columns such as Avg. Area Income, Avg Area House  Age, Avg. Area Number of Room, Avg. Area Number of Bedrooms, Area Population and Price

In Supervised machine learning a Classification example from the current data set could be classifying area as high income (>80000), medium income(>60000 & <80000) or low income (<60000)

In Unsupervised machine learning a Clustering example from the current data set could be grouping area population into clusters with area with close/similar population being grouped together

In Unsupervised machine learning a Recommendation example from the current data set could be suggesting an apprpriate location/state/town for someone given their income