1- Screenshot seperately attached.
2- The first table in schema "Olympic Data" is OLYM_Athletes
3- This query is retrieving all the data from the table OLYM_Athletes namely ID	ATHLETE_NAME ATHLETE_GENDER. Select  * means to retrieve all the columns. Since there is no where condition we are also retrieving all rows.
4- This query is specifically retrieving the columns ATHLETE_NAME ATHLETE_GENDER from the table OLYM_Athletes. Furthermore only rows where the ATHLETE_GENDERS = female are being retrieved. This is contrary to query in part 3 where we were retrieving all columns and all rows without a conditional statement.
5- I found 11 rows, modified query given below.
select * from OLYM."OLYM_MEDALS_VIEW" where OLYM_MEDALS_VIEW.NOC = 'IRI' AND OLYM_MEDALS_VIEW.Medal = 'Gold';